<h1>Listing Classes</h1>

<table>
  <thead>
    <tr>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for class <- @classes do %>
    <tr>

      <td>
        <%= class.name %><%= link "Show", to: Routes.class_path(@conn, :show, class) %></span>

      </td>
    </tr>
<% end %>
  </tbody>
</table>
